<!DOCTYPE html>
<head>
	<title>LibreriaSD - {{#libro}}{{titulo}} {{/libro}}</title>

</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1 class="display-2"><b>LibreriaSD</b></h1>
			<br/>
			<h3 class="display-4"><b>{{#libro}}{{titulo}} {{/libro}}</b></h3>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<ul class="nav nav-tabs nav-justified">
					<li class="nav-item">
						<a class="nav-link" href="/LibreriaSD">Inicio</a>
					</li>
					<li class="nav-item">
						<div class="dropdown">
							<span class="nav-link unselectable" data-toggle="dropdown">Añadir</span>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/LibreriaSD/añadir/libro">Libro</a>
								<a class="dropdown-item" href="/LibreriaSD/añadir/editorial">Editorial</a>
							</div>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" data-toggle="tooltip" title="Accede buscándolo desde inicio" disabled>>Detalles de Libro</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active unselectable" disabled>Detalles de Editorial</a>
					</li>
				</ul>
				<br />
			</div>
		</div>
		<h1 class="display-4">Detalles de Editorial</h1>
		{{#editorial}}
			<div class="row">
				<div class="col">
						<p><b>Nombre: </b>{{nombre}}</p>
						<p><b>Teléfono: </b>{{telefono}}</p>
						<p><b>Email: </b>{{email}}</p>
						<p><b>Código Postal: </b>{{codpostal}}</p>
						<p><b>Código de identificación fiscal: </b>{{codfiscal}}</p>
					<p>
						<a href="/LibreriaSD/modificarEditorial?id={{idEditorial}}" class="btn btn-warning" role="button">Modificar</a>
					</p>
				</div>
			</div>
		{{/editorial}}
		{{^editorial}}
			Algo ha ido mal, vuelve a inicio e intentalo de nuevo.
		{{/editorial}}
	</div>
	<script>
		$(document).ready(function(){
    	$('[data-toggle="tooltip"]').tooltip();   
		});
	</script>
</body>
</html>