<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title>LibreriaSD - {{#libro}}{{titulo}} {{/libro}}</title>

</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1 class="display-2"><b>LibreriaSD</b></h1>
			<br/>
			<h3 class="display-4"><b>{{#libro}}{{titulo}} {{/libro}}</b></h3>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<ul class="nav nav-tabs nav-justified">
					<li class="nav-item">
						<a class="nav-link" href="/LibreriaSD">Inicio</a>
					</li>
					<li class="nav-item">
						<div class="dropdown">
							<span class="nav-link unselectable" data-toggle="dropdown">Añadir</span>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/LibreriaSD/añadir/libro">Libro</a>
								<a class="dropdown-item" href="/LibreriaSD/añadir/editorial">Editorial</a>
							</div>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link active unselectable" disabled>Detalles de Libro</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" data-toggle="tooltip" title="Accede buscándolo desde inicio" disabled>Detalles de Editorial</a>
					</li>
				</ul>
				<br />
			</div>
		</div>
		<h1 class="display-4">Detalles de Libro</h1>
		{{#libro}}
			<div class="row">
				<div class="col">
						<p><b>Título: </b>{{titulo}}</p>
						<p><b>Autor: </b>{{autores}}</p>
						<p><b>Editorial: </b>{{editorial.nombre}}</p>
						<p><b>Año de publicación: </b>{{añopublicacion}}</p>
						<p><b>Número de páginas: </b>{{numpag}}</p>
						<p><b>ISBN: </b>{{ISBN}}</p>
						<p><b>Precio: </b>{{precio}}</p>
						<p><b>Categoría: </b>{{categoria.nombre}}</p>
					<p>
						<a href="/LibreriaSD/modificarLibro?id={{idLibro}}" class="btn btn-warning" role="button">Modificar</a>
					</p>
				</div>
			</div>
		{{/libro}}
		{{^libro}}
			Algo ha ido mal, vuelve a inicio e intentalo de nuevo.
		{{/libro}}
	</div>
	<script>
		$(document).ready(function(){
    	$('[data-toggle="tooltip"]').tooltip();   
		});
	</script>
</body>
</html>