<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>LibreriaSD - Inicio</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/LibreriaSD.css">
	
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>

<body>
	
	<div class="container">
		<div class="row">
		
			<h1 class="contenedor-texto-titulo " style=" padding-left: 150px ; color: yellow">
				<b>LibreriaSD</b>
			</h1>
		</div>
	</div>
	
	
       <p class="lead move-dch"></p>
            <div id="tab" class="btn-group move-dch" data-toggle="buttons-radio">
              <a href="#prices2"   class="btn btn-large btn-warning active" data-toggle="tab">Buscar Libro</a>                         
              <a href="#contact2"  class="btn btn-large btn-warning"  data-toggle="tab">Buscar Editorial</a>
			  <a href="#features2" class="btn btn-large btn-warning"  data-toggle="tab">Añadir</a>  
			  <a href="#contact3"  class="btn btn-large btn-warning"  data-toggle="tab">Detalles</a>
			 
            </div>
             
            <div class="tab-content move-dch">
              <div class="tab-pane active" id="prices2">
                <br>
                <p class="lead "> <h3 th:text="${header.busquedaAv}" class= "color-tit" >Busqueda Avanzada</h3></p>
         
		 <div class="row">
		
			<div class="col-4">
				<h4 class= "color-tit">Libro</h4>
				<form method="get" action="/buscar/libro">
					<h6 class= "color-tit" >Titulo</h6><br />
					<input type="text" name="titulo" class="form-control" required /><br /> 
					<input type="submit" value="Buscar" class="btn btn-warning"/>
				</form>
			</div>
			
			<div class="col-4">
				<h4 class= "color-tit" >Editorial</h4>
				<form method="get" action="/buscar/poreditorial">
					<h6 class= "color-tit" >Nombre</h6><br />
					<select class="form-control" name="idEditorial" required>
						{{#editoriales}}
							<option value="{{idEditorial}}">{{nombre}} </option>
						{{/editoriales}}
						{{^editoriales}}
							<option disabled>No existe ninguna editorial</option>
						{{/editoriales}}
					</select> <br />
					<input type="submit" value="Buscar" class="btn btn-warning"/>
				</form>
			</div>			
			
		  </div>
		
		<div class="row">
			<div class="col-sm-4">
				<h1 class="display-4 color-tit">Resultado libros</h1>
			</div>
		</div>
			<div class="row">
				{{#libros}}
					<div class="col-sm-3">
						<h6 class = "color-tit">
							<p>
								Autores:
								{{#autores}}
									<br/><small>{{nombre}}</small>
								{{/autores}}
							</p>
							<p>
								Título: <small>{{titulo}}</small>
							</p>
							<p>
								Editorial: <small>{{editorial.nombre}}</small>
							</p>
							<a href="/LibreriaSD/detallesLibro?idLibro={{idLibro}}" class="btn btn-warning" role="button">Ver detalles</a>
						</h6>
						<br />
					</div>
				{{/libros}}
				{{^libros}}
					<div class="col-sm-3">
						<h5 class = "color-tit" >No hay resultados</h5>
					</div>
				{{/libros}}
			</div>
		
        </div>
		
		
        <div class="tab-pane" id="features2">
              
                <div class="row">
                    <div class="col">
				<br></br>				
				<h6 class="color-tit">
					¿No encuentras tu libro?<br /> 
					Añádelo a nuestra base de datos!
					
				</h6>
				<br></br>	
				<p>
					<a href="/añadir/libro" class="btn btn-warning" role="button">Añadir</a>
				</p>
					</div>
                </div>
        </div>
		
		
        <div class="tab-pane" id="contact3">
                    <br>
             
                <div class="row">
				
				<div class="row">
			<div class="col-sm-4">
				<h2 class="display-4 color-tit">Resultado editorial</h2>
			</div>
		</div>
				<div class="row">
					<h6 class = "color-tit">{{#editorialess}} </h6>
						<div class="col-sm-4">
							<h6 class = "color-tit">
								<p>
									Nombre: <small>{{nombre}}</small>
								</p>
								<p>
									Email: <small>{{email}}</small>
								</p>
								<a href="/detallesEditorial?idEditorial={{idEditorial}}" class="btn btn-warning" role="button">Ver detalles</a>
							</h6>
							
						</div>
					<h6 class = "color-tit" >{{/editorialess}} <h6>
					<h6 class = "color-tit" >{{^editorialess}}<h6> 
					
					<h5 class = "color-tit">No hay resultados</h5>
						
					<h6 class = "color-tit" >{{/editorialess}} <h6>
				</div>
		<br></br>
		
				
		<div class="row">
			<div class="col-sm-4">
				<h1 class="display-4 color-tit">Resultado libros</h1>
			</div>
		</div>
			<div class="row">
				{{#libros}}
					<div class="col-sm-3">
						<h6 class = "color-tit">
							<p>
								Autor: <small>{{autores}}</small>
							</p>
							<p>
								Título: <small>{{titulo}}</small>
							</p>
							<p>
								Editorial: <small>{{editorial.nombre}}</small>
							</p>
							<a href="/detallesLibro?idLibro={{idLibro}}" class="btn btn-warning" role="button">Ver detalles</a>
						</h6>
						<br />
					</div>
				{{/libros}}
				{{^libros}}
					<div class="col-sm-3">
						<h5 class = "color-tit" >No hay resultados</h5>
					</div>
				{{/libros}}
			</div>
                </div>
        </div>
			  
        <div class="tab-pane" id="contact2">
                    <br>
                <p class="lead "> <h3 class= "color-tit" >Busqueda Avanzada</h3></p>
                <form class="well span8">
        <div class="row">
                        <div class="span3">                            
						<br />
					<div class="row">
							<div class="col-sm-16">
								<h3 class= "color-tit">Por editorial</h3>
								<form method="get" action="/buscar/poreditorial">
									<h6 class= "color-tit" >Nombre</h6><br />
									<select class="form-control" name="idEditorial" required>
										{{#editoriales}}
											<option value="{{idEditorial}}">{{nombre}} </option>
										{{/editoriales}}
										{{^editoriales}}
											<option disabled>No existe ninguna editorial</option>
										{{/editoriales}}
									</select> <br />
									<input type="submit" value="Buscar" class="btn btn-warning"/>
								</form>
							</div>
                    </div>
						
                    </div>
                </form>
        </div>
        </div>
        </div>
	</div>
</div>
    
<script>
		$(document).ready(function(){
    	$('[data-toggle="tooltip"]').tooltip();   
		});
</script>

</body>
</html>