<!DOCTYPE html>
<head>
	<title>LibreriaSD - Modificar Editorial {{#editorial}}{{nombre}}{{/editorial}}</title>
	
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1 class="display-2">
				<b>LibreriaSD</b>
			</h1>
			<br />
			<h3 class="display-4">
				<b>Modificar Editorial {{#editorial}}{{nombre}}{{/editorial}}</b>
			</h3>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<ul class="nav nav-tabs nav-justified">
					<li class="nav-item">
						<a class="nav-link active" href="/LibreriaSD">Inicio</a>
					</li>
					<li class="nav-item">
						<div class="dropdown">
							<span class="nav-link unselectable" data-toggle="dropdown">Añadir</span>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/LibreriaSD/añadir/libro">Libro</a>
								<a class="dropdown-item" href="/LibreriaSD/añadir/editorial">Editorial</a>
							</div>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" data-toggle="tooltip" title="Accede buscándolo desde inicio" disabled>Detalles de Libro</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" data-toggle="tooltip" title="Accede buscándolo desde inicio" disabled>Detalles de Editorial</a>
					</li>
				</ul>
				<br />
			</div>
		</div>
		{{#editorial}}
			<h1 class="display-4">Modificar Editorial {{#editorial}}{{nombre}}{{/editorial}}</h1>
			<form class="form-inline" method="post" action="/LibreriaSD/modificarEditorial/solicitud">
				<div class="row">
					<div class="col-sm-6">
					<p>
						<b>Nombre</b><br /> 
						<input type="text" name="nombre" value="{{nombre}}" class="form-control" required />
					</p>
					<p>
						<b>Teléfono</b><br /> 
						<input type="number" name="telefono" value="{{telefono}}" class="form-control" maxlength="9" min="3" required />
					</p>
					<p>
						<b>Email</b><br /> 
						<input type="text" name="email" value="{{email}}" class="form-control" required />
					</p>
				</div>
				<div class="col-sm-6">
					<p>
						<b>Código Postal</b><br /> 
						<input type="number" name="codpostal" value="{{codpostal}}" class="form-control" maxlength="5" min="5" required />
					</p>
					<p>
						<b>Código de identificación fiscal</b><br /> 
						<input type="text" name="codfiscal" value="{{codfiscal}}" class="form-control" required />
					</p>
				
					<input type="hidden" name="idEditorial" value="{{idEditorial}}" />
					<input type="submit" value="Modificar" class="btn btn-warning" />
				</div>
				</div>
			</form>
		{{/editorial}}
		{{^editorial}}
			<h3>Cambios guardados</h3>
		{{/editorial}}
	</div>
	<script>
		$(document).ready(function(){
    	$('[data-toggle="tooltip"]').tooltip();   
		});
	</script>
	<br />
</body>
</html>